.container {
  border: none;
  background: none;
}

.container input {
  border-width: 0;
  max-width: 355px;
  padding: 15px 20px;
}

.container input::placeholder {
  color: #ffffff;
  font-weight: 400;
}

.container input:focus-visible {
  outline: 0px;
}

.container input:focus:active {
  background: none;
}

.container input:active {
  background: none;
}
