.container {
  display: flex;
  flex-direction: column;
  padding: 60px 30px 200px 30px;
  position: relative;

  .whatsAppButton {
    position: absolute;
    bottom: -22px;
    right: 370px;
  }

  .whatsAppButton a > button {
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.13);
    padding: 13px 70px;
  }

  .whatsAppButton a > button > img {
    margin-right: 10px;
  }

  .logoWrapper {
    display: flex;
    justify-content: center;

    .logoImage {
      max-height: 70px;
      height: 100%;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;

    > * {
      &:not(:first-child) {
        margin-left: 80px;
      }
    }

    .imageText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      > * {
        &:not(:first-child) {
          margin-left: 70px;
        }
      }

      .imageWrapper {
        max-width: 365px;
        .stacksImage {
          height: 320px;
        }
      }

      .textWrapper {
        max-width: 300px;

        span {
          color: #fab823;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 1045px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 50px 30px;
    position: initial;

    .whatsAppButton {
      display: flex;
      justify-content: center;
      position: initial;
      margin-top: 40px;
    }

    .whatsAppButton a > button {
      display: flex;
      align-items: center;
      padding: 13px 60px;
    }

    .whatsAppButton a > button > img {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 660px) {
  .container {
    display: flex;
    flex-direction: column;

    .logoWrapper {
      display: flex;
      justify-content: center;

      .logoImage {
        max-height: 50px;
        height: 100%;
      }
    }

    .contentWrapper {
      display: flex;
      justify-content: center;
      margin-top: 70px;

      > * {
        &:not(:first-child) {
          margin-left: 50px;
        }
      }

      .imageText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        > * {
          &:not(:first-child) {
            margin-left: 0;
            margin-top: 25px;
          }
        }

        .imageWrapper {
          .stacksImage {
            height: 250px;
          }
        }

        .textWrapper {
          max-width: 195px;
          text-align: center;
        }
      }
    }

    .whatsAppButton {
      display: flex;
      justify-content: center;
      position: initial;
      margin-top: 40px;
    }

    .whatsAppButton a > button {
      display: flex;
      align-items: center;
      padding: 13px 40px;
    }

    .whatsAppButton a > button > img {
      margin-right: 10px;
    }
  }
}
