.container {
  display: flex;
  flex-direction: column;
  padding: 60px 30px 200px 30px;

  .logoWrapper {
    display: flex;
    justify-content: center;

    .logoImage {
      max-height: 70px;
      height: 100%;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;

    > * {
      &:not(:first-child) {
        margin-left: 80px;
      }
    }

    .imageText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      > * {
        &:not(:first-child) {
          margin-left: 70px;
        }
      }

      .imageWrapper {
        max-width: 365px;
        .stacksImage {
          height: 320px;
        }
      }

      .textWrapper {
        max-width: 365px;

        span {
          color: #fab823;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 100px 30px;

    .logoWrapper {
      display: flex;
      justify-content: center;

      .logoImage {
        max-height: 50px;
        height: 100%;
      }
    }

    .contentWrapper {
      display: flex;
      justify-content: center;
      margin-top: 70px;

      > * {
        &:not(:first-child) {
          margin-left: 50px;
        }
      }

      .imageText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        > * {
          &:not(:first-child) {
            margin-left: 0;
            margin-top: 50px;
          }
        }

        .imageWrapper {
          .stacksImage {
            height: 250px;
          }
        }

        .textWrapper {
          max-width: 365px;
          text-align: center;
        }
      }
    }
  }
}
