.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    margin: 0 auto;
    padding: 0 25px;
    width: 100%;

    .videoWrapper {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 150px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      padding: 0;

      .videoWrapper {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .container {
    .content {
      padding: 0;
      height: 360px;

      .videoWrapper {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}
