.container {
  background-image: url("./Assets/oneBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 150px 200px;

  .textWrapper {
    max-width: 400px;

    .inputWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 8px;
    }

    .buttonWrapper {
      width: 100%;
      margin-top: 20px;
    }
  }
}
